
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start azure example</title>
</head>
<body>
    <div> 
        storage...


        <div class="panel-body">

            <div id="datatable">
                @Html.Raw(ViewBag.LISTS_STORAGE)
            </div>

        </div>

    </div>
</body>
</html>
