@{
    // ________________________________ ESTADO DE CUENTA WEB ________________________________
    Layout = "~/Views/Shared/_Layout_login_profesor.cshtml";
    ViewBag.Title = "Start";
}

<!-- begin #sidebar MENU -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <ul class="nav">
            <li class="nav-profile">
                <div class="info">
                    Pago Profesores
                    <small id="Profesor">@Html.Raw(ViewBag.Profesor)</small>
                </div>
            </li>
        </ul>

        <!-- begin sidebar nav -->
        <ul class="nav">
            <li><a href="/EstadodeCuentaWeb/Home"><i class="fa fa-bank"></i><span>Estado de Cuenta</span></a></li>
            <li><a href="/EstadodeCuentaWeb/Perfil"><i class="fa fa-user"></i><span>Mi Perfil</span></a></li>
            <li><a href="/EstadodeCuentaWeb/PagosPendientes"><i class="fa fa-usd"></i><span>Pagos Pendientes</span></a></li>
            <li><a href="/EstadodeCuentaWeb/PagosDepositados"><i class="fa fa-money"></i><span>Pagos Depositados</span></a></li>
            <li><a href="/EstadodeCuentaWeb/Contratos"><i class="fa fa-file-text"></i><span>Contratos</span></a></li>
            <li><a href="/EstadodeCuentaWeb/ConstanciasRetencion"><i class="fa fa-file-text-o"></i><span>Constancias de Retención</span></a></li>
            <li class="active"><a href="/EstadodeCuentaWeb/Tutoriales"><i class="fa fa-play-circle"></i><span>Tutoriales</span></a></li>
            <li><a href="~/Login/Close"><i class="fa fa-sign-out"></i><span>Salir</span></a></li>
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->
<!-- begin #content -->
<div id="content" class="content">

    <!-- begin invoice -->
    <div class="invoice">
        <div class="invoice-company">
            <span class="pull-right hidden-print">
                <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-default m-b-10"><i class="fa fa-print m-r-5"></i> Imprimir</a>
            </span>
            Tutoriales
        </div>

        <div class="invoice-content">
            <div class="table-responsive" id="tutoriales">
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-8 -->
                    <div class="col-md-6">
                        <div class="panel panel-inverse" data-sortable-id="index-1">
                            <div class="panel-heading">
                                <div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                    <div id="recarga_am" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></div>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                                </div>
                                <h4 class="panel-title">Pago a profesores contrato</h4>
                            </div>
                            <div class="panel-body">
                                <!-- CONTENIDO-->
                                <video width="100%" controls>
                                    <source src="~/Upload/Tutoriales/contrato.mp4" type="video/mp4">
                                    <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </div>
                        <div class="panel panel-inverse" data-sortable-id="index-6">
                            <div class="panel-heading">
                                <div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                    <div id="recarga_hm" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></div>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                                </div>
                                <h4 class="panel-title">Pago a profesores navegación</h4>
                            </div>
                            <div class="panel-body">
                                <!--#CONTENIDO#-->
                                <video width="100%" controls>
                                    <source src="~/Upload/Tutoriales/navegacion.mp4" type="video/mp4">
                                    <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </div>
                    </div>
                    <!-- end col-8 -->
                    <!-- begin col-4 -->
                    <div class="col-md-6">
                        <div class="panel panel-inverse" data-sortable-id="index-2">
                            <div class="panel-heading">
                                <div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                    <div id="recarga_ad" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></div>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                                </div>
                                <h4 class="panel-title">Pago a profesores acceso</h4>
                            </div>
                            <div class="panel-body">
                                <!-- CONTENIDO -->
                                <video width="100%" controls>
                                    <source src="~/Upload/Tutoriales/acceso.mp4" type="video/mp4">
                                    <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </div>
                        <div class="panel panel-inverse" data-sortable-id="index-9">
                            <div class="panel-heading">
                                <div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                    <div id="recarga_hd" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></div>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                                </div>
                                <h4 class="panel-title">Pago a profesores mobile</h4>
                            </div>
                            <div class="panel-body">
                                <!--CONTENIDO-->
                                <video width="100%" controls>
                                    <source src="~/Upload/Tutoriales/mobile.mp4" type="video/mp4">
                                    <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
        </div>

        <div class="invoice-note">
            * Si sus datos son incorrectos por favor reportarlo via sana.<br />

        </div>
        <div class="invoice-footer text-muted">
            <p class="text-center m-b-5">
                Red de Universidades Anáhuac
            </p>
            <p class="text-center">
                <span class="m-r-10"><i class="fa fa-globe"></i> redanahuac.mx</span>
                <span class="m-r-10"><i class="fa fa-phone"></i> T:016-18192302</span>
               <!-- <span class="m-r-10"><i class="fa fa-envelope"></i> sana@anahuac.mx</span>-->
                <span class="m-r-10" id="Email_Sociedad"><i class="fa fa-envelope"></i> @Html.Raw(ViewBag.Email_Sociedad)</span>
            </p>
        </div>
    </div>
    <!-- end invoice -->
</div>