
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<form id="login" action="~/Login/Validate" method="post">

    <div ajxp_message_id="180" style="margin-bottom: 3px;margin-top: 4px;" class="dialogLegend">Ingrese login/password</div>

    <div style="width:100%;">
        <div class="SF_element">
            <div class="SF_label"><ajxp:message ajxp_message_id="181">Login</ajxp:message></div>
            <div class="SF_input"><input type="text" placeholder="Login" class="dialogFocus" style="width: 100px; padding:0px;" name="usuario" id="usuario" value="@ViewBag.Usuario"></div>
        </div>
        <div class="SF_element">
            <div class="SF_label"><ajxp:message ajxp_message_id="182">Password</ajxp:message></div>
            <div class="SF_input"><input type="password" placeholder="Password" style="width: 100px; padding:0px;" name="password" id="password"></div>
        </div>
        <div class="SF_element">
            <input type="checkbox" style="border: none; width:20px !important;" name="remember_me" class="radio"><ajxp:message ajxp_message_id="261">Recordar</ajxp:message>
        </div>
    </div>


    <div class="dialogButtons"><input width="22" type="image" height="22" name="ok" src="~/Content/images/login/ok.png" title="OK" class="dialogButton dialogFocus"></div>

</form>

