@{
    // ________________________________ ESTADO DE CUENTA WEB ________________________________

}
<!-- begin row Formulario -->
<div class="row" id="frm-bancos">
	<!-- begin col-12 -->
	<div class="col-md-12 ui-sortable">
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<div class="panel-heading-btn">

					<a data-click="panel-collapse" class="btn btn-xs btn-icon btn-circle btn-warning" href="javascript:;"><i class="fa fa-minus"></i></a>

				</div>
				<h4 class="panel-title">Estado de cuenta web</h4>
			</div>

			<div class="panel-body">
				<form action="/" method="POST">
					<fieldset>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="file_xml">Nombre del archivo .XML</label>
									<input type="file" id="file_xml">

									
									<figure class="figure" style="text-align:center">
										<img id="img_firma" src="~/Content/images/image.png" class="figure-img img-fluid rounded" alt="Firma" style="max-width:80%">
										<figcaption class="figure-caption"><a id="nfirmai"></a></figcaption>
									</figure>
								</div>
							</div>
						</div>
					</fieldset>
				</form>



			</div>
		</div>
		<!-- end panel -->
	</div>
	<!-- end col-12 -->
</div>
<!-- end row -->
