@{
   
}
<!-- begin page-header -->
<h1 class="page-header">Tutoriales</h1>
<!-- end page-header -->
<!-- begin row -->
<div class="row">
    <!-- begin col-8 -->
    <div class="col-md-6" >
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <div id="recarga_am" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></div>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Pago a profesores contrato</h4>
            </div>
            <div class="panel-body" >
                <!-- CONTENIDO-->
                <video width="100%" controls>
                    <source src="~/Upload/Tutoriales/contrato.mp4" type="video/mp4">
                    <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
        <div class="panel panel-inverse" data-sortable-id="index-6">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <div id="recarga_hm" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></div>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Pago a profesores navegación</h4>
            </div>
            <div class="panel-body">
                <!--#CONTENIDO#-->
                <video width="100%" controls>
                    <source src="~/Upload/Tutoriales/navegacion.mp4" type="video/mp4">
                    <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
    </div>
    <!-- end col-8 -->
    <!-- begin col-4 -->
    <div class="col-md-6" >
        <div class="panel panel-inverse" data-sortable-id="index-2">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <div id="recarga_ad" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></div>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Pago a profesores acceso</h4>
            </div>
            <div class="panel-body">
                <!-- CONTENIDO -->
                <video width="100%" controls>
                    <source src="~/Upload/Tutoriales/acceso.mp4" type="video/mp4">
                    <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
        <div class="panel panel-inverse" data-sortable-id="index-9">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <div id="recarga_hd" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></div>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Pago a profesores mobile</h4>
            </div>
            <div class="panel-body" >
                <!--CONTENIDO-->
                <video width="100%" controls>
                    <source src="~/Upload/Tutoriales/mobile.mp4" type="video/mp4">
                    <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
    </div>
    <!-- end col-4 -->
</div>
<!-- end row -->
